.onesection {
    background-color: #f2f4f7;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .image img {
        width: 1500px;
        height: 80px;
    }

    .twosection {
        width: 450px;
        height: 600px;
        background-color: white;
        border: 1px solid rgb(184, 181, 181);
        border-radius: 8px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 19px;
        color: #606770;
    }
}

.nameinput {
    width: 190px;
    height: 40px;
    margin-left: 14px;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(215, 215, 215);
}

.surnamepassword {
    width: 190px;
    height: 40px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(215, 215, 215);
}

.birthday {
    span {
        margin-left: 14px;
    }
}

.date {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-left: 13px;
    font-size: 17px;
    border-radius: 5px;
}

.month {
    width: 130px;
    height: 40px;
    margin-left: 8px;
    font-size: 17px;
    border-radius: 5px;
}

.year {
    width: 138px;
    height: 40px;
    margin-left: 8px;
    font-size: 17px;
    border-radius: 5px;
}

.female {
    width: 130px;
    height: 40px;
    margin-left: 13px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
}

.male {
    width: 140px;
    height: 40px;
    margin-left: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
}

.hide {
    width: 129px;
    height: 40px;
    margin-left: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
}

.numberinput {
    width: 410px;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(215, 215, 215);
    margin-top: 13px;
    margin-left: 13px;
    padding-left: 10px;
}

.newinput {
    width: 410px;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(215, 215, 215);
    margin-top: 13px;
    margin-left: 13px;
    padding-left: 10px;
}

.buttonsec2 {
    button {
        width: 200px;
        height: 40px;
        font-weight: 30px;
        border: none;
        outline: none;
        color: #fff;
        background-color: #00a400;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: 10px;
        padding-left: 10px;
        font-size: 20px;
        margin-left: 8rem;
        cursor: pointer;
    }
}

.coresection1 {
    a {
        font-size: 20px;
        text-decoration: none;
        margin-left: 8.6rem;

        &:hover {
            text-decoration: underline;
        }
    }
}